@font-face {
  font-family: League;
  font-style: normal;
  font-weight: 100 1000;
  font-display: swap;
  src: url("../fonts/league/LeagueGothic-Regular-VariableFont_wdth.ttf")
    format("ttf");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-Light.woff2") format("woff2");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-Regular.woff2") format("woff2");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-Medium.woff2") format("woff2");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-Bold.woff2") format("woff2");
}
@font-face {
  font-family: Mango;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/mango/MangoGrotesque-Black.woff2") format("woff2");
}
