@import "tailwindcss";
@import "./fonts.css";

@theme {
  --breakpoint-xl: 1380px;

  --font-mango: "Mango", "ui-sans-serif", "system-ui", "sans-serif";
  --font-league: "League", "serif", "system-ui", "sans-serif";

  --text-mini: max(0.4vw, 1.3px);
  --text-mini--line-height: 1;
  --text-3xs: max(1vw, 4px);
  --text-3xs--line-height: 1.1;
  --text-2xs: max(1.15vw, 5px);
  --text-2xs--line-height: 1;
  --text-xs: max(1.5vw, 7px);
  --text-xs--line-height: 1;
  --text-sm: max(2.5vw, 12px);
  --text-sm--line-height: 1;
  --text-base: max(3.4vw, 10px);
  --text-base--line-height: 1;
  --text-lg: max(3.8vw, 20px);
  --text-lg--line-height: 1;
  --text-xl: max(13vw, 26px);
  --text-xl--line-height: 1;
  --text-2xl: max(18vw, 30px);
  --text-2xl--line-height: 1;

  --color-*: initial;
  --color-primary: oklch(66.38% 0.2148 33.2);
  --color-beige: oklch(69.05% 0.0248 56.79);
  --color-beige-200: oklch(31.34% 0.009 53.16);
  --color-dark: oklch(9.69% 0 0);
  --color-light: oklch(93.88% 0.0357 53.72);
}

@utility scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Globals */
:where(img) {
  display: block;
  height: auto;
  object-fit: contain;
  user-select: none;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-light);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-beige) var(--color-beige-200);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-box-edge: cap alphabetic;
  text-box-trim: both;
}

#app {
  overflow-x: clip;
}

/* Utils */
.vertical-center {
  @apply top-1/2 -translate-y-1/2;
}

.container {
  @apply w-[75vw] mx-auto;
}

/* Lenis scroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Section I */
h1 {
  .warhol--letter {
    -webkit-text-fill-color: var(--color-light);
    -webkit-background-clip: text;
    background-position: 10px;
    background-size: cover;
    will-change: transform;
    transition: none;

    &:hover {
      -webkit-text-fill-color: transparent;
      background-position: 0px;
      transition: background 3s ease-out;
    }

    &.warhol--letter__1 {
      background-image: url("../images/mask_letter_w.avif");
    }
    &.warhol--letter__2 {
      background-image: url("../images/mask_letter_a.avif");
    }
    &.warhol--letter__3 {
      background-image: url("../images/mask_letter_r.avif");
    }
    &.warhol--letter__4 {
      background-image: url("../images/mask_letter_h.avif");
    }
    &.warhol--letter__5 {
      background-image: url("../images/mask_letter_o.avif");
    }
    &.warhol--letter__6 {
      background-image: url("../images/mask_letter_l.avif");
    }
  }
}

.exhibition-text {
  /* font-size: clamp(10px, 2vw, 50px);
  line-height: 1.1;

  .small-text {
    font-size: clamp(5px, 0.75vw, 20px);
  } */
}

.glue p {
  letter-spacing: 0.5px;
  -webkit-text-stroke: clamp(0.05px, 0.1vw, 2px) var(--color-dark);
}

/* Section II */
@keyframes banana {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(-1);
  }
}

.banana {
  will-change: transform;
  animation: alternate infinite 2s linear banana;
}

@keyframes can {
  0% {
    transform: rotate(-8deg);
  }
  10% {
    transform: rotate(30deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(30deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  34% {
    transform: rotate(30deg);
  }
  37% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(30deg);
  }
  43% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.can {
  will-change: transform;
  animation: infinite 3s linear can;
}

/* Section II */
@keyframes left-fade {
  0% {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    translate: -30%;
    opacity: 0;
  }
}
@keyframes right-fade {
  0% {
    scale: 1;
    translate: 0%;
    opacity: 1;
  }
  100% {
    scale: 0.8;
    translate: 30% 0;
    opacity: 0;
  }
}

.elvis-duo {
  position: relative;

  &:hover .hover-imgs {
    opacity: 1;
  }

  & > .hover-imgs {
    transition: ease 1.25s;
    opacity: 0;

    img {
      position: absolute;
      top: 0;
      height: 100%;
      will-change: transform;

      &:nth-child(odd) {
        left: 0;
        animation: infinite 3s linear left-fade;
      }
      &:nth-child(even) {
        right: 0;
        animation: infinite 3s linear right-fade;
      }

      &:is(:nth-child(3), :nth-child(4)) {
        animation-delay: 750ms;
      }
      &:is(:nth-child(5), :nth-child(6)) {
        animation-delay: 1.5s;
      }
      &:is(:nth-child(7), :nth-child(8)) {
        animation-delay: 2.25s;
      }
    }
  }
}

/* Section III */
blockquote {
  p {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    .mask {
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--color-dark);
      opacity: 0.8;
      height: 95%;
      width: 100%;
      z-index: 2;
      transition: ease 0.2s;
      will-change: width;
    }
  }
}

/* Section IV */
.monroes {
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/* Section V */
@keyframes scroll {
  to {
    transform: translateY(calc(-50% - 5vw));
  }
}
.images-wrapper {
  animation: scroll 10s linear infinite;

  img {
    height: 50vw;
    width: auto;
    object-fit: contain;
  }
}

/* Footer */
.footer-divider {
  width: 100%;
  height: 150px;
  background-color: var(--color-primary);
  translate: 0 2px;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 35.04%,
    4% 45.73%,
    8% 56.69%,
    12% 67.23%,
    16% 76.69%,
    20% 84.48%,
    24% 90.09%,
    28% 93.19%,
    32% 93.57%,
    36% 91.22%,
    40% 86.27%,
    44% 79.05%,
    48% 70%,
    52% 59.69%,
    56% 48.78%,
    60% 37.94%,
    64% 27.86%,
    68% 19.17%,
    72% 12.42%,
    76% 8.03%,
    80% 6.28%,
    84% 7.27%,
    88% 10.95%,
    92% 17.08%,
    96% 25.28%,
    100% 35.04%
  );
}
footer {
}
